* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}
:root {
  --pink: #854747;
  --white: #ffffff;
}
header {
  background-color: var(--pink);
  min-height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button {
  background-color: transparent;
  color: white;
}
header .ham {
  display: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 8vh;
}
header .navbar .link-menu {
  display: flex;
  /* justify-content: space-between; */
  padding: 0px;
}
header .navbar .link-menu li {
  /* font-size: 1.3rem; */
  /* border-radius: .5rem; */
  padding: 0.5rem 1.5rem;
  list-style: none;
}
.link-menu li a {
  color: var(--white, white);
  font-weight: bold;
}

.icons {
  /* padding: 10px; */
  display: flex;
  /* position:absolute; */
}
.icons a {
  padding: 0.5rem 1.5rem;
}
.icons i {
  color: white;
}
.line-pink {
  width: 200px;
  height: 3px;
  background-color: #ac5d5d;
}
.title {
  color: var(--pink);
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
}
.desserts {
  margin: 60px;
}
.title-container {
  margin: 40px;
}
.line {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10px;
}
.fa-diamond {
  position: relative;
  bottom: 6px;
  color: #ac5d5d;
}
.fa-gem {
  position: relative;
  bottom: 15px;
  color: #ac5d5d;
  margin: 9px;
}
